.main-chat
  .main-chat__group-info
    .main-chat__group-info--left
      -#このタグはdisplay flexのためだけに入れてます
      .main-chat__group-info--main
        = @group.name
      .main-chat__group-info--sub
        Member:
        = render partial:'user', collection: @group.users
    .main-chat__group-info--right
      = link_to 'Edit', edit_group_path(@group) ,class: 'main-chat__group-info--link'
  .main-chat__message-list
    .message-one
      = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "main-chat__message-form"}, local: true do |f|
      .main-chat__message-form--box
        = f.text_field :content, class: 'main-chat__message-form--box--main', placeholder: 'type a message'
        = f.label :image, class: 'main-chat__message-form--box--icon' do
          = icon('fas', 'image')
          = f.file_field :image, class: "invisible-btn"
      = f.submit 'Send', class: 'main-chat__message-form--send'